@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.loader-primary {
  background: repeating-linear-gradient(
    60deg,
    theme("colors.primary.DEFAULT"),
    theme("colors.primary.DEFAULT") 0.75rem,
    theme("colors.primary.dark") 0.75rem,
    theme("colors.primary.dark") 1.5rem
  );
}

.loader-primary-transparent {
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    theme("colors.primary.transparent") 0.75rem,
    theme("colors.primary.transparent") 1.5rem
  );
}

.loader-secondary {
  background: repeating-linear-gradient(
    60deg,
    theme("colors.secondary.DEFAULT"),
    theme("colors.secondary.DEFAULT") 0.75rem,
    theme("colors.secondary.dark") 0.75rem,
    theme("colors.secondary.dark") 1.5rem
  );
}

.loader-secondary-transparent {
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    theme("colors.secondary.transparent") 0.75rem,
    theme("colors.secondary.transparent") 1.5rem
  );
}
